* {
  margin: 0;
  padding: 0;
}

.main-grid{
  width: 3000px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(142, minmax(0, 1fr));
  grid-template-rows: repeat(120, minmax(0, 1fr));
}

.main-grid > .item {
  border: 0.5px solid #e8e8e847;;
  width: 100%;
  font-size: 10px;
  padding: 2px;
  /* color: purple; */
  /* padding: 0 10px 0 10px; */
  /* padding-bottom: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: antiquewhite; */
}

.space {
  border: 0.5px solid #000000 !important;
}

[data-tooltip]::before {
  position: absolute;
  z-index: 10;
  content: attr(data-tooltip);
  opacity: 0;
  white-space: nowrap;
  /* Customize the tooltip box */
  /* transition: all 0.15s ease; */
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover::before {
  opacity: 1;
  /* Customize the tooltip box */
  background: yellow;
  /* margin-top: -50px; */
  display: relative;
  left: 2rem;
  /* margin-left: 20px; */
}
[data-tooltip] {
  position: relative;
  /* Customize the div */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #ffc82b;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #0000008a;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 